.tool-frictionradar, .tool-friction-radar-created {
    margin-top: -40px;
}

.tool-frictionradar .btn {
    text-decoration: none !important;
}

.tool-frictionradar .friction-info {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 100%;
}

.tool-frictionradar .friction-refresh:hover circle {
    fill: #E5E7EB;
}

.tool-frictionradar .friction-refresh {
    cursor: pointer;
}

.tool-frictionradar svg .friction-refresh,
.tool-frictionradar svg .friction-refresh * {
    cursor: pointer;
}
