.tool-frictionradar, .tool-friction-radar-created {
    margin-top: -40px;
}

.tool-frictionradar .btn {
    text-decoration: none !important;
}

.tool-frictionradar .friction-info {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 100%;
}
